body {background-image: url('../images/use_your_illusion.png') ;
    font-family: "Work Sans", Arial, sans-serif;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;}
a {text-decoration:none !important; 
   color:white}
#space{font-size:30px; }
#wood{color:#a3816a;}
.navic{float:right; 
   margin:10px 50px 0 0;}
.nazv{float:left;
    margin:10px 0 0 50px;
    font-weight:bold}
#navig{position:absolute; 
   font-size:35px;
   transition:0.3s;
   cursor: pointer}
#navig:hover {transform: scale(1.2);}
.first1{display: flex;
   align-items: center;
   justify-content: center; 
margin-top: 80px;}
#home, #blog {color:#6b6767}
.first1 p {color: #b3adad;
    font-size:13px; 
    font-weight:bold}
.second1 p {color:white; 
   display: flex;
   align-items: center;
   justify-content: center;
   font-size:40px;
    margin-top:10px;
    font-weight:bold}
.content {display: flex;
    flex-direction: row;
margin-left: 3%;
margin-right: 3%;
margin-bottom: 100px;}
.one {flex-basis: 70%; }
.two{flex-basis: 29%;margin-left: 100px;}
.one h1{font-weight: normal;
color: white;
font-size: 30px;}
.one p{color: #6b6767;
font-size: 16px;
font-weight: bold;
line-height: 1.8;}
.fon {background-image: url('../images/image_6.jpg');
    background-size: cover;
    width:100%;
    height:400px;}
#fir {margin-bottom: 80px;}
.creative{margin-bottom: 50px;
margin-top: -50px;}
.button a {border:1px solid rgba(255,255,255,.1);
color:#a3816a;
font-size: 13px;
padding:10px 10px 10px 10px;
margin: 0 15px 40px 0;
border-radius: 5px 5px 5px 5px;}
.button a:hover {color: white;
background-color: #a3816a;}
.autor{margin-top: 100px;
margin-bottom: 200px;}
.autor img {width: 180px;
height: 180px;
border-radius: 50%;
float: left;}
.autor h2 {color: white;
font-weight: normal;
letter-spacing: 2px;
margin-left: 220px;}
.autor p{margin-left: 220px;}
.comentarii h1{color: white;}
.face img {width: 60px;
height: 60px;
border-radius: 50%;}
.face {float: left;}
.comment {margin-left: 90px;
    background-color:black;
padding: 20px 20px 40px 20px;
margin-bottom: 50px;
border-radius: 5px 5px 5px 5px;
position: relative;}
.comment::after { position: absolute;
    left: -15px;
    top: 12px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #000 transparent transparent;}
.comment h3{color: white;
font-size: 20px;
font-weight: normal;}
.meta {color: #a3816a;
font-size: 13px;
font-weight: bold;}
.comment a{color: white;
    font-size: 10px;
    padding:5px 10px 5px 10px;
    border-radius: 5px 5px 5px 5px;
background-color: #a3816a;
letter-spacing: 2px;}
.comment a:hover{background-color:black;}
.tret {margin-left: 50px;}
.chetv {margin-left: 100px;}
.piat {margin-left: 150px;}
.chest {margin-top: 100px;
margin-bottom: 100px;}
.form {width: 97%;}
input[type=text], textarea {
    width: 98%;
    padding: 15px;
    margin: 15px 1% 22px 1%;
    display: inline-block;
    border: none;
    background-color:black;
    border-radius: 5px 5px 5px 5px;}
    label {color: #6b6767;
    font-size: 17px;}
    textarea {resize: none;}
.post {border:1px solid rgba(255,255,255,.1);
    color:white;
    font-size: 17px;
    padding:20px 20px 20px 20px ;
    margin-right: 15px;
    border-radius: 30px 30px 30px 30px ;
    background-color:#a3816a;}
    .post:hover {background-color:transparent;
    color: #a3816a;
    border:1px solid #a3816a;}
.two input[type=text] {width: 85%;
    background-color:white;
border-radius: 0%;
padding:17px 15px 17px 15px ;
border: 0.5rem solid rgb(26, 25, 25);
font-size: 17px;
margin: 170px 3% 50px 3%;}
.serch {position: relative; }
.lup {position: absolute; bottom:75px; right: 15px; 
border: none;
background-color: transparent;}
.lup::before {content: "\f002"; 
    font-family: FontAwesome;
    color:#a3816a ;}
.categorii {margin-top: -50px;}
.categorii li{list-style-type: none;
font-size: 13px;
margin-left: -40px;
margin-bottom: 20px;
position: relative;
padding-bottom: 10px;
border-bottom: 1px solid rgba(255,255,255,.1);}
.categorii a{color: #a3816a;
font-weight: bold;}
.categorii span{color: white;
position: absolute;top: 0;right: 0;}
.categorii li:last-child {border-bottom: none;}
.res_blog, .tag_cl, .parag{margin-top: -30px;}
.res_blog h1, .tag_cl h1,.categorii h1, .parag h1  {font-size: 30px;
font-weight: normal;}
.fon3 {background-image: url('../images/image_3.jpg');
    background-size: cover;
    width:80px;
    height:80px;
    float:left;
    margin-bottom:5%; margin-right:20px;}
.res_blog .opis {margin-bottom: 20px;}
.res_blog .meta a {font-size: 10px;}
.res_blog .event {font-size: 20px;
color: #b3adad;}
.res_blog .event:hover{color:#a3816a ;}
 .button .tag{display: inline-block;
    margin: -50px 5px 16px;
font-size: 12px;}
.parag p {color:#6b6767 ;
font-weight: bold;
line-height: 2;
font-size: 14px;}
footer {background:black;
    margin: 150px auto -10px auto;
    position: absolute;left: 0;right: 0; }
    .podval {display: flex;
        justify-content: center;
        align-items: flex-start ; 
       margin-bottom: 60px;
       margin-left: auto;
    margin-right: auto;
    max-width: 2000px;}
    .first a, h1{color:white;
        font-weight:bold;
        font-size:25px !important;
        margin-top:150px; }
    .first span {color:#a3816a;}
    .first p{color:#b3adad;
        font-size:18px;
    line-height: 1.5;}
    .first{flex-basis: 27%;
        margin-left:15px;
        margin-right:35px;}
    .second {flex-basis: 30%; 
        margin-right:35px;}
    .third {flex-basis: 12%;
        margin-right:35px;}
    .fourth {flex-basis: 28%;
        margin-right:10px;}
    .first li{border:none;
        display: inline;}
        .first li:last-child {margin-right:20px;}
    #btn_first {margin-left:-30px}
    .btn {border-radius: 50%;
        background-color:#17191B;
        border: none !important; 
        width:60px;
        height:60px; }
    .blog a{color:#b3adad;
        font-size:18px;}
    .fon1 {background-image: url('../images/image_1.jpg');
        background-size: cover;
        width:80px;
        height:80px;
        float:left;
        margin-bottom:15%; 
        margin-right:10px;} 
    .fon2 {background-image: url('../images/image_2.jpg');
        background-size: cover;
        width:80px;
        height:80px;
        float:left;
        margin-bottom:5%; margin-right:10px;}
        .fl {padding-left: 50px;}
     .blog a.event:hover{color:#a3816a !important;}
    .meta{display: inline-block;
        margin-top: 10px;}
    .calendar {margin-right: 5px;}
    .calendar .fa {height: 15px; 
        width: 15px; 
        margin-right:3px}
    .meta a {color:#6b6767;
        font-size:13px;}
    .links li{display:block;
        border:none; 
        margin-left:-40px;
        margin-top:20px;}
    .links a{font-size:18px;
        color:#b3adad !important;}
    .links a:hover{color:white !important;}
    .last {margin-top:10px;margin-bottom: 20px;}
    .last img{width:18px;
        margin-top:10px;}
    .last span{color:#b3adad;
        font-size:16px;
        margin-left:20px;}
    .podval h1 {margin-bottom: 40px;}
    .contaner {background-image: url('../images/bg_3.jpg') ; 
        background-size: cover;
          background-repeat: no-repeat;
          background-position: center center; position: absolute; top: 0;left: 0;bottom: 0;
          height: 100%;
          width: 100%; display: none;}
      .contaner:after{
          content: '';
          position: absolute;top: 0;left: 0;right: 0;bottom: 0;
          background: black;
          opacity: 0.5; z-index:1;}
      .menu a {text-decoration:none; }
      #krest {position:absolute; top: 50px;right: 70px;
         color:white;
          font-size:20px; 
           z-index:2;
            transition:0.3s;}
      #krest:hover {transform: scale(1.5);}
      .osnova{border:solid white 1px;
         margin:20px; 
         height: 94%; 
         display: flex;
         align-items: center;
         justify-content: center;}
      .menu { z-index:2;margin-top: -90px;}
      h1 {color:white; 
        font-size:60px;}
      .menu .active:focus {color: #a3816a !important;}
      #wood{color:#a3816a;}
      .menu li {list-style-type: none; 
        display: list-item; 
        text-align: center; 
        font-size:25px;
        font-weight:bold;
         margin-bottom:20px;
          margin-left:-50px !important;
          border: none;}
      .active {color:white;}
      .menu h1 {font-size: 60px !important;}
      .niz { color: #b3adad; 
        height: 200px; margin-top: 70px;}
        #color {color: #b3adad;}
     .niz p {text-align: center;}

@media all and (max-width: 60em)
    {footer {height:2000px;
        padding-top:50px}
      .podval {display:block}
      .first, .second, .third, .fourth {width:80%;
        margin-left:40px;
         margin-bottom:-60px}
    .content {display: flex;
        flex-direction: column;}
    .two {margin-left: 0px;}
    .two input[type=text]{width: 95%;
    margin-left: 0px;
margin-right: 0px;}
.niz {margin-top: 150px;}
.menu h1 { margin-top: 80px !important; margin-bottom: 30px; }
     .menu li {margin-bottom: 10px;}
     #krest {position:absolute; top: 30px;right: 40px;}}
@media all and (max-width: 40em)
    {.first, .second, .third, .fourth {margin-left:40px;
         margin-bottom:-60px}
         input[type=text], textarea {width: 93%;}
         .two input[type=text]{margin-right: 10px;width: 90%;}
         .two {margin-top: -100px;}
        }