body {background-image: url('../images/use_your_illusion.png') ;
     font-family: "Work Sans", Arial, sans-serif;
    max-width: 2000px;
margin-left: auto;
margin-right: auto;}
a {text-decoration:none; 
    color:white}
#space{font-size:30px; }
#wood{color:#a3816a;}
.navic{float:right; 
    margin:10px 50px 0 0;}
.nazv{float:left;
    margin:10px 0 0 50px;
     font-weight:bold}
#navig{position:absolute; 
    font-size:35px;
    transition:0.3s;
color: white;
cursor: pointer}
#navig:hover {transform: scale(1.2);}
.first1{display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;}
#home {color:#6b6767}
.first1 p {color: #b3adad;
     font-size:13px; 
     font-weight:bold}
.second1 {margin-bottom: 180px;}
.second1 p {color:white; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:40px;
     margin-top:10px;
     font-weight:bold}
.content {margin-left: 1%;
    margin-right: 1%;}
.row {display: flex;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: space-between;}
.text {width:100%;
    padding-left:5px}
.obrazec { margin:0 2% 0 2%;
    width:100%;
    height:500px;
position:relative;}
.lupa1 {position:absolute; top:20%;left:40%;
    border:none;
     border-radius: 50%;
    width: 60px ;height: 60px;
    visibility: hidden;}
.svg1 { width: 30px; height: 20px;
    color:#a3816a;}
.obrazec:hover button{visibility: visible;
    z-index: 2;}
   .pro1:hover:after, .pro2:hover:after, .pro3:hover:after, .pro4:hover:after,
   .pro5:hover:after, .pro6:hover:after, .pro7:hover:after,
   .pro8:hover:after, .pro9:hover:after  {width: 100%;
    height: 60%;
    position: absolute;
    content: '';
    font-size: 50px;
    background: rgba(0, 0, 0, 0.5);}

.pro1{background-image: url('../images/work-1.jpg');}
.pro2{background-image: url('../images/work-2.jpg');}
.pro3{background-image: url('../images/work-3.jpg');}
.pro4{background-image: url('../images/work-4.jpg');}
.pro5{background-image: url('../images/work-5.jpg');}
.pro6{background-image: url('../images/work-6.jpg');}
.pro7{background-image: url('../images/work-7.jpg');}
.pro8{background-image: url('../images/work-8.jpg');}
.pro9{background-image: url('../images/work-9.jpg');}
.pro1, .pro2, .pro3, .pro4, .pro5, .pro6, .pro7, .pro8, .pro9 {background-size: cover;
    width:100%;
    height:300px;}
.text p{color: #a3816a;
    font-size:18px}
.text span{color:white;
    font-size:35px;}
.stranica{display: flex;
  flex-flow: row nowrap;
  margin-top:150px;
  margin-bottom:200px}
ul{ margin: 0 auto;}
li {display:inline-block;
     border:solid #b3adad 0.5px;
      width:40px;
       height:30px;
        color: white;
        text-align: center;
        padding-top:10px}
#activation {background: #a3816a;}
footer {background:black;
    position: absolute;left: 0;right: 0;
    margin: 0px auto -10px auto; }
.podval {display: flex;
    justify-content: center;
    align-items: flex-start ;
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;}
.first a, h1{color:white;
    font-weight:bold;
    font-size:25px !important;
    margin-top:150px; }
.first span {color:#a3816a;}
.first p{color:#b3adad;
    font-size:18px;
line-height: 1.5;}
.first{flex-basis: 27%;
    margin-left:20px;
    margin-right:35px;}
.second {flex-basis: 30%; 
    margin-right:35px;}
.third {flex-basis: 12%;
    margin-right:35px;}
.fourth {flex-basis: 28%;
    margin-right:20px;}
.first li{border:none;
     margin-right:25px;}    
     
#btn_first {margin-left:-30px}
.btn {border-radius: 50%;
    background-color:#17191B;
    border: none; 
    width:60px;
    height:60px}
.blog a{color:#b3adad;
    font-size:18px;}
.fon1 {background-image: url('../images/image_1.jpg');
    background-size: cover;
    width:80px;
    height:80px;
    float:left;
    margin-bottom:15%; 
    margin-right:10px;} 
.fl {padding-left: 50px;}
.fon2 {background-image: url('../images/image_2.jpg');
    background-size: cover;
    width:80px;
    height:80px;
    float:left;
    margin-bottom:5%; 
    margin-right: 10px;}
 .blog a.event:hover{color:#a3816a;}
.meta{display: inline-block;
    margin-top: 10px;}
.calendar .fa {height: 15px; 
    width: 15px; 
    margin-right:5px}
.meta a {color:#6b6767;
    font-size:13px;}
.links li{display:block;
    border:none; 
    margin-left:-40px;
    margin-top:20px;}
.links a{font-size:18px;
    color:#b3adad;}
.links a:hover{color:white;}
.last {margin-top:10px;margin-bottom: 20px;}
.last img{width:18px;
    margin-top:10px;}
.last span{color:#b3adad;
    font-size:16px;
    margin-left:20px;}
.podval h1 {margin-bottom: 40px;}
.contaner {background-image: url('../images/bg_3.jpg') ; 
    background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; position: absolute; top: 0;left: 0;bottom: 0;
      height: 100%;
      width: 100%; display: none;}
  .contaner:after{
      content: '';
      position: absolute;top: 0;left: 0;right: 0;bottom: 0;
      background: black;
      opacity: 0.5; z-index:1;}
  .menu a {text-decoration:none; }
  #krest {position:absolute; top: 50px;right: 70px;
     color:white;
      font-size:20px; 
       z-index:2;
        transition:0.3s;}
  #krest:hover {transform: scale(1.5);}
  .osnova{border:solid white 1px;
     margin:20px; 
     height: 94%; 
     display: flex;
     align-items: center;
     justify-content: center;}
  .menu { z-index:2;margin-top: -90px;}
  h1 {color:white; 
    font-size:60px;}
  .menu .active:focus {color: #a3816a !important;}
  #wood{color:#a3816a;}
  .menu li {list-style-type: none; 
    display: list-item; 
    text-align: center; 
    font-size:25px;
    font-weight:bold;
     margin-bottom:20px;
      margin-left:100px !important;
      border: none;}
  .active {color:white;}
  .menu h1 {font-size: 60px !important;}
  .niz { color: #b3adad; 
    height: 200px; margin-top: 70px;}
    #color {color: #b3adad;}
 .niz p {text-align: center;}

@media all and (max-width: 60em)
{footer {height:2000px;
    padding-top:50px}
  .podval {display:block}
  .first, .second, .third, .fourth {width:80%;
    margin-left:40px;
     margin-bottom:60px}
     .niz {margin-top: 150px;}
    .menu h1 { margin-top: 70px; margin-bottom: 30px;}
.menu li {margin-bottom: -5px;}}
@media all and (max-width: 40em)
{.first, .second, .third, .fourth {margin-left:40px;
     margin-bottom:-60px}
  .row{ display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;}
  .pro1, .pro2, .pro3, .pro4, .pro5, .pro6, .pro7, .pro8, .pro9{margin-left:0px}
  #krest {position: absolute; right: 30px; top:20px}}